<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"/>
	</configSections>
	<!-- 可用的配置项（这里列的都是默认值）: Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" CustomTheme="" CustomThemeBasePath="~/theme" ExtjsBasePath="~/extjs" -->
	<FineUI EnableBigFont="true" DebugMode="true" />
	<appSettings>
		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="false"/>
		<!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
		<!--<add key="ConnectionString" value="server=113.98.255.44;database=Citic_Pledge_Manage;uid=sa;pwd=13240296aA"/>-->
		<add key="ConnectionString" value="server=192.168.10.216;database=Citic_Pledge_Manage_ZF;uid=sa;pwd=ZXXT123456citic"/>
		<!--<add key="ConnectionString" value="server=.;database=Citic_Pledge_Manage_ZF;uid=sa;pwd=sasa"/>-->
		<add key="Dealer_Bank" value="~/SQLFiles/SQLs.xml"/>
		<add key="Dealer_BankCommand" value="sqlstr3"/>
		<add key="Dealer_CarListCommand" value="Dealer_CarList"/>
		<add key="ser" value="ser_like"/>
		<add key="cec" value="ser_O"/>
		<add key="eoc_path" value="~/Common/ErrorOther.SE"/>

		<add key="draft_Upload_Path" value="~/UpExcel/导入数据库的汇票信息"/>
		<add key="xdbg" value="巡店报告"/>
		<add key="xdbg_path" value="~/Office/巡店报告"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- Net3.5以上的项目，一定要为pages节点加上这两个属性：controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" -->
		<pages>
			<controls>
				<add assembly="FineUI" namespace="FineUI" tagPrefix="x"/>
			</controls>
		</pages>
		<httpModules>
			<add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
		</httpModules>
		<httpHandlers>
			<add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
		</httpHandlers>
		<httpRuntime maxRequestLength="102400 "/>
		<customErrors mode="Off"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!--
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/default.aspx" timeout="120" defaultUrl="~/main.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    -->

	</system.web>

	<!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
	<!-- IIS7 Integrated Mode
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  -->
	<system.webServer>
		<modules>
			<add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
		</modules>
		<handlers>
			<add name="FineUIResAxd" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
		</handlers>
	</system.webServer>
</configuration>