<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汽车经销店评级表</title>
<style type="text/css">
.input_300_20 {
	border:0px;
	border-bottom:1px solid black;
	width:300px;
	height:20px;
	font-size:14px;
}
.input_200_20 {
	border:0px;
	border-bottom:1px solid black;
	width:200px;
	height:20px;
	font-size:14px;
}
.input_100_20 {
	border:0px;
	border-bottom:1px solid black;
	width:100px;
	height:20px;
	font-size:14px;
}
.input_80_20 {
	border:0px;
	border-bottom:1px solid black;
	width:80px;
	height:20px;
	font-size:14px;
}
.input_50_20 {
	border:0px;
	border-bottom:1px solid black;
	width:50px;
	height:20px;
	font-size:14px;
}
.font_Bold {
	font-weight:bold;
}
table {
	border-left:black 1px solid;
	border-top:black 1px solid;
	text-align:center;
}
table tr {
	height:40px;
}
table tr td {
	border-right:black 1px solid;
	border-bottom:black 1px solid;
}
.solidBorder_Left_Top {
	border-left:black 1px solid;
	border-top:black 1px solid;
}
.solidBorder_Right_Bottom {
	border-right:black 1px solid;
	border-bottom:black 1px solid;
}
#Container {
	width:1000px;
	height:4000px;
	padding:10px 10px 10px 10px;
	margin:0px auto;
}
</style>
</head>

<body>
<div id="Container">
  <table cellspacing="0" cellpadding="0">
    <col width="47" />
    <col width="54" />
    <col width="175" />
    <col width="160" />
    <col width="134" />
    <col width="48" />
    <tr>
      <td colspan="6" width="618" style="text-align:center;font-size:30px;font-weight:bold">中信信通国际物流有限公司<br/>
        汽车经销店评级表</td>
    </tr>
    <tr>
      <td colspan="3" class="font_Bold">4S店名称：
        <input type="text" class="input_200_20"/></td>
      <td colspan="2" class="font_Bold">融资银行：
        <input type="text" class="input_200_20"/></td>
      <td rowspan="2" width="48" class="font_Bold">风控  </td>
    </tr>
    <tr>
      <td colspan="4" class="font_Bold">评定时间：        年       月       日      </td>
      <td class="font_Bold">评级：
        <input type="text" class="input_50_20">
        级</td>
    </tr>
    <tr>
      <td class="font_Bold">序号</td>
      <td width="54" class="font_Bold">类别</td>
      <td width="175" class="font_Bold">考核具体内容 </td>
      <td width="160" class="font_Bold">评分标准</td>
      <td width="134" class="font_Bold">评分区间（分值）</td>
      <td>　</td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">1</td>
      <td rowspan="8" width="54" class="font_Bold">企业背景</td>
      <td rowspan="2" width="175">所有权性质</td>
      <td width="160">国资企业</td>
      <td width="134" class="font_Bold">2</td>
      <td rowspan="2" style="padding:0px 5px 0px 5px"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">民营企业</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">2</td>
      <td rowspan="2" width="175">集团或是单店</td>
      <td width="160">集团</td>
      <td width="134" class="font_Bold">2</td>
      <td><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">单店</td>
      <td width="134" class="font_Bold">1</td>
      <td><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">3</td>
      <td rowspan="2" width="175">是否经营其他产业</td>
      <td width="160">无</td>
      <td width="134" class="font_Bold">3</td>
      <td rowspan="2"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">有</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">4</td>
      <td rowspan="2" width="175">有无其他融资单位</td>
      <td width="160">无</td>
      <td width="134" class="font_Bold">3</td>
      <td rowspan="2"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">有</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">5</td>
      <td rowspan="12" width="54" class="font_Bold">企业经营情况</td>
      <td rowspan="2" width="175">是否有二网或二库</td>
      <td width="160">无</td>
      <td width="134" class="font_Bold">3</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">有</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">6</td>
      <td rowspan="2" width="175">月销量是否稳定</td>
      <td width="160">稳定</td>
      <td width="134" class="font_Bold">3</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">不稳定</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td><input type="text" class="input_50_20"></td>
      <td rowspan="2" width="175">工作人员是否稳定</td>
      <td width="160">稳定</td>
      <td width="134" class="font_Bold">3</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td><input type="text" class="input_50_20"></td>
      <td width="160">不稳定，经常人员更迭</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">7</td>
      <td rowspan="2" width="175">店方是否有其他异常情况</td>
      <td>无</td>
      <td class="font_Bold">3</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>有</td>
      <td class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="4" class="font_Bold">8</td>
      <td rowspan="4" width="175">质押车占店方库存的比例</td>
      <td width="160">30%以下（含）</td>
      <td width="134" class="font_Bold">10</td>
      <td rowspan="4" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">30%-60%（含）</td>
      <td width="134" class="font_Bold">5</td>
    </tr>
    <tr>
      <td width="160">60%-80%（含）</td>
      <td width="134" class="font_Bold">3</td>
    </tr>
    <tr>
      <td width="160">80%以上</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td rowspan="3" class="font_Bold">9</td>
      <td rowspan="19" width="54" class="font_Bold">协议遵守和业务实操</td>
      <td rowspan="3" width="175">质押车、钥匙、合格证    交付是否及时、完整</td>
      <td width="160">完整及时</td>
      <td width="134" class="font_Bold">10</td>
      <td rowspan="3" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">催促后交付</td>
      <td width="134" class="font_Bold">5</td>
    </tr>
    <tr>
      <td width="160">拖延交付</td>
      <td width="134" class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="4" class="font_Bold">10</td>
      <td rowspan="4" width="175">是否存在私自移动的情况</td>
      <td width="160">从不</td>
      <td width="134" class="font_Bold">10</td>
      <td rowspan="4" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">偶尔出现，经提醒后纠正</td>
      <td width="134" class="font_Bold">5</td>
    </tr>
    <tr>
      <td width="160">经常出现，经提醒后纠正</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td width="160">经常出现，拒不纠正</td>
      <td width="134" class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="4" class="font_Bold">11</td>
      <td rowspan="4" width="175">是否存在私自售卖现象</td>
      <td width="160">从不</td>
      <td width="134" class="font_Bold">10</td>
      <td rowspan="4" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">偶尔出现，经提醒后纠正</td>
      <td width="134" class="font_Bold">5</td>
    </tr>
    <tr>
      <td width="160">经常出现，经提醒后纠正</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td width="160">经常出现，拒不纠正</td>
      <td width="134" class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="3" class="font_Bold">12</td>
      <td rowspan="3" width="175">向银行打款是否及时</td>
      <td>及时给付</td>
      <td width="134" class="font_Bold">10</td>
      <td rowspan="3" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>规定或承诺时间内给付</td>
      <td width="134" class="font_Bold">5</td>
    </tr>
    <tr>
      <td>拖延、拒绝给付</td>
      <td width="134" class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="3" class="font_Bold">13</td>
      <td rowspan="3" width="175">授权人或财务经理了解监管业务操作流程情况</td>
      <td width="160">了解</td>
      <td width="134" class="font_Bold">3</td>
      <td rowspan="3" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">一般</td>
      <td width="134" class="font_Bold">1</td>
    </tr>
    <tr>
      <td width="160">陌生</td>
      <td width="134" class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="2" class="font_Bold">14</td>
      <td rowspan="2" width="175">是否鼓动监管员私自换证、违规操作</td>
      <td width="160">无</td>
      <td width="134" class="font_Bold">5</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td width="160">有</td>
      <td width="134" class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="2" width="47" class="font_Bold">15</td>
      <td rowspan="14" width="54" class="font_Bold">对监管业务的配合</td>
      <td rowspan="2" width="175">授权人调换后是否及时通知监管员</td>
      <td>是</td>
      <td class="font_Bold">2</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>否</td>
      <td class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="2" width="47" class="font_Bold">16</td>
      <td rowspan="2" width="175">是否配合监管员摆放质押标识</td>
      <td>是</td>
      <td class="font_Bold">2</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>否</td>
      <td class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="3" width="47" class="font_Bold">17</td>
      <td rowspan="3" width="175">授权人或财务经理是否配合监管员业务操作</td>
      <td>配合</td>
      <td class="font_Bold">3</td>
      <td rowspan="3" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>较配合</td>
      <td class="font_Bold">1</td>
    </tr>
    <tr>
      <td>不配合</td>
      <td class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="2" width="47" class="font_Bold">18</td>
      <td rowspan="2" width="175">店方是否提供监管员办公场所或办公用品</td>
      <td>是</td>
      <td class="font_Bold">5</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>否</td>
      <td class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="3" width="47" class="font_Bold">20</td>
      <td rowspan="3" width="175">店方是否配合我方巡店检查工作</td>
      <td>配合</td>
      <td class="font_Bold">5</td>
      <td rowspan="3" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>较配合</td>
      <td class="font_Bold">3</td>
    </tr>
    <tr>
      <td>不配合</td>
      <td class="font_Bold">0</td>
    </tr>
    <tr>
      <td rowspan="2" width="47" class="font_Bold">21</td>
      <td rowspan="2" width="175">店方是否及时配合监管员在相关表格上签章并邮寄</td>
      <td>是</td>
      <td class="font_Bold">3</td>
      <td rowspan="2" width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td>否</td>
      <td class="font_Bold">0</td>
    </tr>
    <tr>
      <td class="font_Bold">22</td>
      <td width="54" class="font_Bold">特别项</td>
      <td width="175">此处写明加减分的依据,是否配合二库和二网查车、是否经营房地产业务、经营状况恶化、存在经济或其他纠纷、涉诉、曾受到银行或主机厂处罚。，若无特别说明之处，此处写&ldquo;无    &rdquo;                                   </td>
      <td width="160">写明理由：</td>
      <td width="134" class="font_Bold">±1～10</td>
      <td width="48"><input type="text" class="input_50_20"></td>
    </tr>
    <tr>
      <td colspan="5" class="font_Bold">合计得分</td>
      <td><input type="text" class="input_50_20"></td>
    </tr>
  </table>
</div>
</body>
</html>
