<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汽车监管员评级表</title>
<style type="text/css">
.input_300_20{
	border:0px; 
	border-bottom:1px solid black;
	width:300px;
	height:20px;
	font-size:14px;
}
.input_200_20{
	border:0px; 
	border-bottom:1px solid black;
	width:200px;
	height:20px;
	font-size:14px;
}
.input_100_20{
	border:0px; 
	border-bottom:1px solid black;
	width:100px;
	height:20px;
	font-size:14px;
}
.input_80_20{
	border:0px; 
	border-bottom:1px solid black;
	width:80px;
	height:20px;
	font-size:14px;
}
.input_50_20{
	border:0px; 
	border-bottom:1px solid black;
	width:50px;
	height:20px;
	font-size:14px;
}
.font_Bold{
	font-weight:bold;
}
table {
	border-left:black 1px solid;
	border-top:black 1px solid;
	text-align:center;
}
table tr{
	height:40px;
}
table tr td {
	border-right:black 1px solid;
	border-bottom:black 1px solid;
}
.solidBorder_Left_Top {
	border-left:black 1px solid;
	border-top:black 1px solid;
}
.solidBorder_Right_Bottom {
	border-right:black 1px solid;
	border-bottom:black 1px solid;
}

#Container {
	width:1000px;
	height:4000px;
	padding:10px 10px 10px 10px;
	margin:0px auto;
}
</style>
</head>

<body>
<div id="Container">
<table cellspacing="0" cellpadding="0">
  <col width="40" />
  <col width="54" />
  <col width="169" />
  <col width="237" />
  <col width="137" />
  <col width="48" />
  <tr>
    <td colspan="6" style="text-align:center;font-size:30px;font-weight:bold">中信信通国际物流有限公司<br/>汽车监管员评级表</td>
  </tr>
  <tr>
    <td colspan="5" class="font_Bold">企业名称：<input type="text" class="input_300_20"/>
      监管员姓名：      <input type="text" class="input_200_20"/></td>
    <td rowspan="2" class="font_Bold">  风控  </td>
  </tr>
  <tr>
    <td colspan="4" class="font_Bold">评定时间:       年      月      日      </td>
    <td class="font_Bold">评级：<input type="text" class="input_50_20">级</td>
  </tr>
  <tr>
    <td width="42" class="font_Bold">序号</td>
    <td width="61" class="font_Bold">类别</td>
    <td width="386" class="font_Bold">考核具体内容 </td>
    <td width="257" class="font_Bold">评分标准</td>
    <td width="163" class="font_Bold">评分区间（分值）</td>
    <td width="89" class="font_Bold">评分</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">1</td>
    <td rowspan="14" width="61" class="font_Bold">监管员基本要求</td>
    <td rowspan="3" width="386">个人仪容仪表的保持</td>
    <td>佩戴工牌、穿着工装</td>
    <td width="163" class="font_Bold">4</td>
    <td rowspan="3" style="padding:0px 5px 0px 5px"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>只佩戴工牌或只穿着工装</td>
    <td width="163" class="font_Bold">1</td>
  </tr>
  <tr>
    <td>不佩戴工牌、不穿着工装</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">2</td>
    <td rowspan="2" width="386">日常工作行为规范的遵守</td>
    <td>考勤正常、严格律己</td>
    <td width="163" class="font_Bold">3</td>
    <td rowspan="2"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>考勤不正常、做与工作无关的事情</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">3</td>
    <td rowspan="3" width="386">检查人员身份的核实</td>
    <td>主动核实</td>
    <td width="163" class="font_Bold">10</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>经提醒后核实</td>
    <td width="163" class="font_Bold">5</td>
  </tr>
  <tr>
    <td>未核实</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">4</td>
    <td rowspan="3" width="386">保险柜钥匙的保管</td>
    <td>保管全部钥匙且随身携带</td>
    <td width="163" class="font_Bold">5</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>钥匙随意放置</td>
    <td width="163" class="font_Bold">1</td>
  </tr>
  <tr>
    <td>店方留有钥匙</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">5</td>
    <td rowspan="3" width="386">计算机操作的水平</td>
    <td>熟练</td>
    <td width="163" class="font_Bold">3</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>一般</td>
    <td width="163" class="font_Bold">1</td>
  </tr>
  <tr>
    <td>较差</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">6</td>
    <td rowspan="25" width="61" class="font_Bold">日常业务操作</td>
    <td rowspan="2" width="386">经销商告知函、店方授权人、委任书的制作</td>
    <td>规范</td>
    <td width="163" class="font_Bold">3</td>
    <td rowspan="2"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>不规范</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">7</td>
    <td rowspan="3" width="386">手工台帐的制作</td>
    <td>规范</td>
    <td class="font_Bold">5</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>存在极少纰漏</td>
    <td class="font_Bold">3</td>
  </tr>
  <tr>
    <td>不规范</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">8</td>
    <td rowspan="3" width="386">电子台账的制作与更新</td>
    <td>规范</td>
    <td class="font_Bold">5</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>存在极少纰漏</td>
    <td class="font_Bold">3</td>
  </tr>
  <tr>
    <td>不规范</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">9</td>
    <td rowspan="3" width="386">合格证、钥匙保存情况</td>
    <td>安全、分类、有序</td>
    <td class="font_Bold">10</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>安全保存但未分类</td>
    <td class="font_Bold">5</td>
  </tr>
  <tr>
    <td>有风险、混乱无序</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="7" class="font_Bold">10</td>
    <td rowspan="2" width="386">业务表单是否及时传真、邮寄</td>
    <td>是</td>
    <td class="font_Bold">3</td>
    <td rowspan="2"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>否</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" width="386">业务表单原件与复印件的保存</td>
    <td>符合</td>
    <td width="163" class="font_Bold">3</td>
    <td rowspan="2"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>不符合</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" width="386">对质押车辆的盘点（包括二库、二网）</td>
    <td width="257">每日盘点店内车辆，定期盘点二网和二库车辆、按时发送照片</td>
    <td class="font_Bold">10</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td width="257">每日盘点店内车辆，没有定期盘点二网和二库车辆</td>
    <td class="font_Bold">5</td>
  </tr>
  <tr>
    <td width="257">对店内和二网、二库车辆车辆均不盘点</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">11</td>
    <td rowspan="2" width="386">质押标识摆放</td>
    <td>全部摆放（展车、店方不配合除外）</td>
    <td class="font_Bold">3</td>
    <td rowspan="2"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>未全部摆放（展车、店方不配合除外）</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">12</td>
    <td rowspan="3" width="386">业务流程的熟练程度（包含系统操作）</td>
    <td>熟练</td>
    <td class="font_Bold">3</td>
    <td rowspan="3"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>一般</td>
    <td class="font_Bold">1</td>
  </tr>
  <tr>
    <td>较差</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">13</td>
    <td rowspan="2" width="386">异常问题反馈的及时性、有效性</td>
    <td>能够准确、及时反馈（现场）</td>
    <td class="font_Bold">5</td>
    <td rowspan="2"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>不能准确、及时反馈（现场）</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">14</td>
    <td rowspan="17" width="61" class="font_Bold">监管员个人素质</td>
    <td rowspan="2" width="386">对经销店监管环境是否熟悉了解</td>
    <td>是</td>
    <td class="font_Bold">3</td>
    <td rowspan="2"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>否</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">15</td>
    <td rowspan="3" width="386">对质押车状态的了解</td>
    <td>清楚</td>
    <td class="font_Bold">5</td>
    <td rowspan="3" width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>一般</td>
    <td class="font_Bold">3</td>
  </tr>
  <tr>
    <td>不清楚</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">16</td>
    <td rowspan="3" width="386">沟通能力</td>
    <td>良好</td>
    <td>3</td>
    <td rowspan="3" width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td>一般</td>
    <td class="font_Bold">1</td>
  </tr>
  <tr>
    <td>较差</td>
    <td class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">17</td>
    <td rowspan="2" width="386">对业务的主动学习能力</td>
    <td width="257">积极主动</td>
    <td width="163" class="font_Bold">3</td>
    <td rowspan="2" width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td width="257">消极被动</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">18</td>
    <td rowspan="2" width="386">监管员工作的态度</td>
    <td width="257">端正、认真、负责</td>
    <td width="163" class="font_Bold">3</td>
    <td rowspan="2" width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td width="257">消极、粗心、推诿</td>
    <td width="163" class="font_Bold">0</td>
  </tr>
  <tr>
    <td rowspan="2" class="font_Bold">19</td>
    <td rowspan="2" width="386">监管员判定风险的能力</td>
    <td width="257">判定准确、经验丰富</td>
    <td width="163" class="font_Bold">5</td>
    <td width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td width="257">判定较差、无意识</td>
    <td width="163" class="font_Bold">0</td>
    <td width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td rowspan="3" class="font_Bold">20</td>
    <td rowspan="3" width="386">监管员工作时间</td>
    <td width="257">一年以上</td>
    <td width="163" class="font_Bold">3</td>
    <td width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td width="257">半年以上</td>
    <td width="163" class="font_Bold">1</td>
    <td width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td width="257">半年以下</td>
    <td width="163" class="font_Bold">0</td>
    <td width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td class="font_Bold">19</td>
    <td width="61" class="font_Bold">特别项</td>
    <td width="386">加减分的依据为：              是否配合检查、风险意识强弱、协助总部相关部门处理紧急或其他工作、经销店的夸赞与投诉、通风报信、私放合格证和钥匙、脱岗或旷工、从事与工作无关的活动、隐瞒事实等。           若此栏无加减分填&ldquo;无&rdquo;。</td>
    <td width="257">写明理由：</td>
    <td width="163" class="font_Bold">±1～10</td>
    <td width="89"><input type="text" class="input_50_20"></td>
  </tr>
  <tr>
    <td colspan="5" class="font_Bold">合计得分</td>
    <td><input type="text" class="input_50_20"></td>
  </tr>
</table>
</div>
</body>
</html>
